:root {
  /*fonts*/
  --main-font: roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;

  /*text colors*/
  --primary-text-color: #212121;
  --title-text-color: #ffffff;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --footer-color: #2f303a;
  --filter-btn-color: #f5f4fa;
  --studio-footer-color: #000000;
  --border-header-color: #ececec;
  --border-projects-color: #eeeeee;
  --bg-header-color: #c4c4c4;
  --socials-icon-color: #afb1b8;

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
