.clients {
  @extend %section;
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.clients__item {
  @media screen and (max-width: 767px) {
    flex-basis: calc((100% - 30px) / 2);
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;

  @media screen and (max-width: 767px) {
    width: 210px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 226px;
  }

  @media screen and (min-width: 1200px) {
    width: 170px;
  }

  color: var(--socials-icon-color);
  border: 1px solid #afb1b8;
  border-radius: 4px;

  @include transition(color, border);

  &:hover,
  &:focus {
    color: var(--accent-color);
    border: 1px solid #2196f3;
  }
}

.clients__icon {
  fill: currentColor;
}
