.features {
  @extend %section;
}

.features__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.features__item {
  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.features__item:last-child {
  margin: 0;
}

.features__wrapper {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;

  background-color: var(--filter-btn-color);
  border-radius: 4px;
}

.features__subtitle {
  margin-bottom: 10px;
  @include fonts(14px, false, false, 16px, 0.03em);
  text-transform: uppercase;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.features__text {
  @include fonts(14px, var(--secondary-text-color), false, 24px, 0.03em);
}
