.header {
  border-bottom: 1px solid var(--border-header-color);
}
.header__container {
  display: flex;
  align-items: center;
}

.header-nav__list {
  display: flex;
  margin-left: 93px;
}
.header-nav__list .header-nav__item:not(:last-child) {
  margin-right: 50px;
}
.header-nav__link {
  position: relative;
  color: var(--primary-text-color);

  @include transition(color);
}

.header-nav--current.header-nav__link {
  color: var(--accent-color);
}
.header-nav--current.header-nav__link::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: 0;

  display: block;
  width: 100%;
  height: 4px;

  background-color: var(--accent-color);
  border-radius: 2px;
}

.header-nav__link,
.header__contact-link {
  display: block;
  padding-top: 31px;
  padding-bottom: 31px;

  @include fonts(14px, false, 500, 16px, 0.02em);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.header__contact-list {
  display: flex;
  margin-left: auto;
}
.header__contact-list .header-nav__item + .header-nav__item {
  margin-left: 50px;
}
.header__contact-link {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--secondary-text-color);

  @include transition(color);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.header__contact-icon {
  fill: currentColor;
}
