.hero {
  max-width: 1600px;
  padding: 200px 0;
  margin: 0 auto;

  text-align: center;

  background-color: var(--bg-header-color);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 696px;

  @include fonts(44px, var(--title-text-color), 900, 60px, 0.06em);
  text-align: center;
  text-transform: uppercase;
}
