.logo {
  font-family: var(--secondary-font);
  @include fonts(26px, var(--accent-color), 700, 31px, 0.03em);

  @include transition(color);

  @media screen and (max-width: 1199px) {
    font-size: 24px;
    line-height: calc(28 / 24);
  }

  &:focus,
  &:hover {
    color: var(--accent-color);
  }
}

.logo--black {
  color: var(--studio-footer-color);
}
.logo--white {
  color: var(--title-text-color);
}
