.projects {
  @extend %section;
}

.project__filter-list {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.project__filter-item {
  margin-right: 8px;
}

.project__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.project__item {
  flex-basis: calc((100% - 60px) / 3);
}

.project__link {
  display: inline-block;

  color: inherit;
  transition: box-shadow 250ms var(--timing-function);
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.project__wrapper-card {
  position: relative;
  overflow: hidden;
}

.project__overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);
}

.project__link:hover .project__overlay {
  transform: translateY(0);
}

.project__description {
  position: absolute;
  top: 0;
  right: 0;

  padding: 63px 24px;
}

.project__description-text {
  @include fonts(18px, var(--title-text-color), false, 28px, 0.03em);
}

.project__wrap {
  padding: 20px 24px;

  border: 1px solid var(--border-projects-color);
  border-top: none;
}

.project__title {
  margin-bottom: 4px;
  @include fonts(18px, false, false, 36px, 0.06em);
}

.project__text {
  @include fonts(16px, var(--secondary-text-color), false, 30px, 0.03em);
}
