.team {
  @extend %section;
  background-color: var(--filter-btn-color);
}

.team__list {
  display: flex;
}

.team__card-item {
  margin-right: 30px;
  flex-basis: calc((100% - 30px * (4 - 1)) / (4));

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__card-item:last-child {
  margin-right: 0;
}

.team__wrappe {
  padding-top: 30px;
  padding-bottom: 30px;

  background-color: var(--title-text-color);
}

.team__subtitle {
  margin-bottom: 10px;

  @include fonts(16px, false, 500, 19px, 0.03em);
  text-align: center;
}

.team__text {
  margin-bottom: 16px;

  @include fonts(16px, var(--secondary-text-color), false, 19px, 0.03em);
  text-align: center;
}
